.args { 
  display: flex;
  align-items: center; 
  &__play { 
    width: 50px;
    height: 70px; 
    border-radius: 10%;
    background: $lightTeal $play no-repeat center;
    background-size: 10px;   
  }
}
 
.args-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px; 
  &__rem, &__add {
    margin: 0 0 5px 0; 
    width: 30px;
    height: 30px;
    border-radius: 50%;  
    &:last-child {
      margin: 0;
    } 
  } 
  &__rem {
    background: $lightTeal $minus no-repeat center;
    background-size: 15px;
  } 
  &__add {
    background: $lightTeal $plus no-repeat center;
    background-size: 15px;
  }
}  