.args { 
  display: flex;
  align-items: center; 
  &__td {
    display: flex;
  }

  &__input {
    padding: 0 0 0 20px;
    width: 75px;
    border: none;
    text-align: center;
  }
  &__play { 
    width: 50px;
    height: 70px; 
    border-radius: 10%; 
    background-image: $play;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;   
  }
}
 
.args-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px; 
  &__rem, &__add {
    margin: 0 0 5px 0; 
    width: 30px;
    height: 30px;
    border-radius: 50%;  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    &:last-child {
      margin: 0;
    } 
  } 
  &__rem { 
    background-image: $minus;
  } 
  &__add { 
    background-image: $plus; 
  }
} 

.args-value {
  display: flex;
  flex-direction: column;
  &__more, &__less {
    height: 10px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
  }

  &__more {
    background-image: $more; 
  }
  &__less {
    background-image: $less;
  }
}