.blue-btn {
  display: flex;
  padding: 0;
  border: none;
  border-bottom: 1px solid $darkTeal;
  background-color: $lightTeal;
  cursor: pointer; 
  transition: background $time ease-out;
  &:hover {
    background-color: $teal;
  }
  &:active {
    border-bottom: none;
    transform: translateY(1px)
  }
  &:focus {
    outline: none;
  }
}

.go {
  display: flex;
  width: 100%;
  height: 25px;
  border-radius: 5%;
  background-image: $play;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;   
}