.table-wrap-limiting { 
  display: flex;  
  max-height: 300px;  
  overflow: auto;  
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;

  table {
    border-bottom: none;
    width: 100%;

    caption {
      border-top: none;
    }
  } 
}

.blue-table {  
  border-collapse: collapse;   
  border: 1px solid $black;  
  &:last-child {
    margin: 0;
  } 
  
	caption, th, td {   
    height: 25px;
    font-weight: 400;
  }

  caption, th {
    background: $lightTeal;
  }

  caption { 
    border-top: 1px solid $black;
    border-left: 1px solid $black; 
    border-right: 1px solid $black; 
    font-weight: 700;
  } 

  tr {
    &:first-child td {
      border-top: none;
    }
    &:last-child td {
      border-bottom: none;
    }
  }

  th, td {
    text-align: center;
    border: 1px solid $black;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  } 
} 