<div class="controls"> 
    <table class="table">
      <thead>
        <tr>
          <th>Параметр</th>
          <th>Значение</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ширина</td>
          <td><input type="number" value="5000"/></td>
        </tr>
        <tr>
          <td>Высота</td>
          <td><input type="number" value="5000"/></td>
        </tr>
      </tbody>
    </table> 
    <table class="table">
      <thead>
        <tr>
          <th>Параметр</th>
          <th>Значение</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Увеличение по Х</td>
          <td><input type="number" value="750"/></td>
        </tr>
        <tr>
          <td>Увеличение по Y</td>
          <td><input type="number" value="750"/></td>
        </tr>
      </tbody> 
    </table>
    <table class="table">
      <thead>
        <tr>
          <th>Параметр</th>
          <th>Значение</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Шаг:
          </td>
          <td><input type="number" value="0.1" step="0.1" /></td>
        </tr>
      </tbody>
    </table>
  </div> 