<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="css/style.bundle.css">

    <title><%= title %></title>
  </head>
  <body id="<%- page %>">
    <header class="header">
      <div class="header__container">
        <a class="logo" href="/">MTZABD</a>
        <nav class="navigation">
          <ul class="navigation__list">
            <% [{title : 'Home', href : '/'}, 
                {title : 'Lab1', sublink : [{title : 'Сравнение', href : '/comparison.html'},
                                            {title : 'Лагранж', href : '/lagrange.html'}, 
                                            {title : 'Ньютон', href : '/newton-polynomial.html'},
                                            {title : 'Сплайн', href : '/spline.html'}] }].map((item) => {
                  if (item['href'] != undefined) { 
                    %><li><a href="<%- item['href'] %>"><%- item['title'] %></a></li>
                  <% } else { %> 
                    <li class="navigation__dropdown"><%- item['title'] %>
                      <ul>
                        <% item['sublink'].map((sublink) => { %>
                          <li><a href="<%- sublink['href'] %>"><%- sublink['title'] %></a></li>
                        <% }) %> 
                      </ul>
                    </li>
            <% }}) %> 
          </ul>
        </nav>
      </div>
    </header> 