<!-- Used for input data --> 
<div class="args"> 
  <!-- Table -->
  <table class="blue-table js-args-table">
    <thead>
      <tr>
        <th>№</th>
        <% for (let i = 0; i < 4; i++) { %>
          <th><%- (i + 1) %></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>X</td>
        <% for (let i = 0; i < 4; i++) { %>
          <td><input type="number" value="1"/></td>
        <% } %>
      </tr>
      <tr>
        <td>Y</td>
        <% for (let i = 0; i < 4; i++) { %>
          <td><input type="number" value="1"/></td>
        <% } %>
      </tr>
    </tbody>
  </table>

  <!-- Buttons -->
  <div class="args-count">
    <input class="args-count__add" type="submit" value="" />
    <input class="args-count__rem" type="submit" value="" /> 
  </div>

  <!-- Play -->
  <input class="args__play" type="submit" value="" />
</div>