<!-- Used for input data --> 
<div class="args"> 
  <!-- Table -->
  <table class="blue-table args-table">
    <thead>
      <tr>
        <th>№</th>
        <% values.forEach((item, index) => { %>
          <th><%- (index + 1) %></th>
        <% }) %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>X</td>
        <% values.forEach((item) => { %>
          <td>
            <div class="args__td">
              <input class="args__input" type="number" value="<%- item[0] %>" step="any" />
              <div class="args-value">
                <input class="blue-btn args-value__more" type="submit" value="" />
                <input class="blue-btn args-value__less" type="submit" value="" />
              </div>
            </div>
          </td>
        <% }) %>
      </tr>
      <tr>
        <td>Y</td>
        <% values.forEach((item) => { %>
        <td>
          <div class="args__td">
            <input class="args__input" type="number" value="<%- item[1] %>" step="any" />
            <div class="args-value">
              <input class="blue-btn args-value__more" type="submit" value="" />
              <input class="blue-btn args-value__less" type="submit" value="" />
            </div>
          </div>
        </td><% }) %>
      </tr>
    </tbody>
  </table>

  <!-- Buttons -->
  <div class="args-count">
    <input class="blue-btn args-count__add" type="submit" value="" />
    <input class="blue-btn args-count__rem" type="submit" value="" /> 
  </div>

  <!-- Play -->
  <input class="blue-btn args__play" type="submit" value="" />
</div>