<!-- Used for input data --> 
<div class="args"> 
  <!-- Table -->
  <table class="blue-table args-table">
    <thead>
      <tr>
        <th>№</th>
        <% values.forEach((item, index) => { %>
          <th><%- (index + 1) %></th>
        <% }) %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>X</td>
        <% values.forEach((item) => { %>
          <td><input type="number" value="<%- item[0] %>"/></td>
        <% }) %>
      </tr>
      <tr>
        <td>Y</td>
        <% values.forEach((item) => { %>
          <td><input type="number" value="<%- item[1] %>"/></td>
        <% }) %>
      </tr>
    </tbody>
  </table>

  <!-- Buttons -->
  <div class="args-count">
    <input class="args-count__add" type="submit" value="" />
    <input class="args-count__rem" type="submit" value="" /> 
  </div>

  <!-- Play -->
  <input class="args__play" type="submit" value="" />
</div>