@import url(https://fonts.googleapis.com/css?family=Modak&display=swap);@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=cyrillic);*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 50px;
  background: #f2f2f2;
  font-family: "Roboto",sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h4 {
  margin-top: 0;
}

canvas {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  max-height: 500px;
  height: 500px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container,
.header__container,
.page__container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 50px;
  background: #1e1e1e;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Modak",cursive;
  color: #00a0a0;
  font-size: 40px;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__list li {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 15px;
  height: 50px;
  color: #fff;
  font-size: 24px;
}

.navigation__list li:last-child {
  margin-right: 0;
}

.navigation__list a {
  position: relative;
  color: inherit;
}

.navigation__list a:hover:after {
  width: 100%;
}

.navigation__list a:after {
  content: '';
  position: absolute;
  left: 1px;
  bottom: 4px;
  display: flex;
  width: 0%;
  height: 1px;
  background: #fff;
  transition: width .5s ease-out;
}

.navigation__dropdown {
  cursor: default;
}

.navigation__dropdown:hover ul {
  display: flex;
}

.navigation__dropdown:last-child ul {
  left: auto;
  right: -10px;
}

.navigation__dropdown ul {
  position: absolute;
  top: 50px;
  left: -10px;
  display: none;
  flex-direction: column;
  padding: 10px;
  min-width: 100%;
  background: #1e1e1e;
}

.navigation__dropdown ul li {
  height: auto;
}

.navigation__dropdown ul a {
  cursor: pointer;
}

.page__body {
  padding: 25px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.table-wrap-limiting {
  display: flex;
  max-height: 300px;
  overflow: auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.table-wrap-limiting table {
  border-bottom: none;
  width: 100%;
}

.table-wrap-limiting table caption {
  border-top: none;
}

.blue-table {
  border-collapse: collapse;
  border: 1px solid #000;
}

.blue-table:last-child {
  margin: 0;
}

.blue-table caption,
.blue-table th,
.blue-table td {
  height: 25px;
  font-weight: 400;
}

.blue-table caption,
.blue-table th {
  background: #a0c8c8;
}

.blue-table caption {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-weight: 700;
}

.blue-table tr:first-child td {
  border-top: none;
}

.blue-table tr:last-child td {
  border-bottom: none;
}

.blue-table th,
.blue-table td {
  text-align: center;
  border: 1px solid #000;
}

.blue-table th:first-child,
.blue-table td:first-child {
  border-left: none;
}

.blue-table th:last-child,
.blue-table td:last-child {
  border-right: none;
}

.blue-btn {
  display: flex;
  padding: 0;
  border: none;
  border-bottom: 1px solid #000D0D;
  background-color: #a0c8c8;
  cursor: pointer;
  transition: background .5s ease-out;
}

.blue-btn:hover {
  background-color: #00a0a0;
}

.blue-btn:active {
  border-bottom: none;
  transform: translateY(1px);
}

.blue-btn:focus {
  outline: none;
}

.go {
  display: flex;
  width: 100%;
  height: 25px;
  border-radius: 5%;
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.checkboxs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkboxs label {
  display: flex;
  cursor: pointer;
}

.args {
  display: flex;
  align-items: center;
}

.args__td {
  display: flex;
}

.args table {
  width: auto;
}

.args__input {
  padding: 0 1px 0 21px;
  width: 75px;
  border: none;
  text-align: center;
}

.args__play {
  width: 50px;
  height: 70px;
  border-radius: 10%;
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.args-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}

.args-count__rem,
.args-count__add {
  margin: 0 0 5px 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.args-count__rem:last-child,
.args-count__add:last-child {
  margin: 0;
}

.args-count__rem {
  background-image: url("../img/minus.svg");
}

.args-count__add {
  background-image: url("../img/plus.svg");
}

.args-value {
  display: flex;
  flex-direction: column;
}

.args-value__more,
.args-value__less {
  height: 11px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.args-value__more {
  background-image: url("../img/more.svg");
}

.args-value__less {
  background-image: url("../img/less.svg");
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flexbox__group,
.flexbox__item {
  margin-right: 50px;
  flex-grow: 1;
}

.flexbox__group:last-child,
.flexbox__item:last-child {
  margin-right: 0;
}

.flexbox__group {
  display: flex;
}

.flexbox__half {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.flexbox__margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.flexbox__row {
  display: flex;
  align-items: flex-start;
  padding: 5px;
}

.flexbox__row input[type="number"] {
  margin-right: 5px;
  width: 50px;
  height: 25px;
  text-align: right;
}


/*# sourceMappingURL=style.bundle.css.map*/