<%= _.template(require('./../components/header.html').default)({
    title: 'MTZABD Lab1',
    page: 'comparison'
  }) %>
  
  <main class="page">
    <div class="page__container">
      <!-- Head -->
      <div class="page__head">
        <h1>Лабораторная работа #1</h1>
        <h3>Сравнение функций</h3>
      </div> 
  
      <!-- Body -->
      <div class="page__body">
        <!-- Canvas -->
        <h2>Main Part</h2>
        <canvas></canvas>
        <div class="flexbox">
          <!-- Lagrange -->
          <%= _.template(require('./../components/output-table.html').default)({ 
            wrapperClass : 'table-wrap-limiting flexbox__item', 
            tableName : 'Лагранж',  
            tableClass : 'output-table-lagrange',
            th : ['x', 'f(x)', '∆'] 
          }) %>
            
          <%= _.template(require('./../components/output-table.html').default)({   
            tableClass : 'flexbox__item output-table-lagrange-values', 
            tdList : [ 
              [{text : 'Max'}, {className : 'output-table-lagrange-values__max'}], 
              [{text : 'Min'}, {className : 'output-table-lagrange-values__min'}], 
              [{text : 'Avg'}, {className : 'output-table-lagrange-values__avg'}],
            ]
          }) %>

          <!-- Newton -->
          <%= _.template(require('./../components/output-table.html').default)({ 
            wrapperClass : 'table-wrap-limiting flexbox__item', 
            tableName : 'Ньютон',  
            tableClass : 'output-table-newton',
            th : ['x', 'f(x)', '∆'] 
          }) %>

          <%= _.template(require('./../components/output-table.html').default)({   
            tableClass : 'flexbox__item output-table-newton-values', 
            tdList : [ 
              [{text : 'Max'}, {className : 'output-table-newton-values__max'}], 
              [{text : 'Min'}, {className : 'output-table-newton-values__min'}], 
              [{text : 'Avg'}, {className : 'output-table-newton-values__avg'}],
            ]
          }) %>

          <!-- Spline --> 
          <%= _.template(require('./../components/output-table.html').default)({ 
            wrapperClass : 'table-wrap-limiting flexbox__item', 
            tableName : 'Сплайн',  
            tableClass : 'output-table-spline',
            th : ['x', 'f(x)', '∆'] 
          }) %>

          <%= _.template(require('./../components/output-table.html').default)({   
            tableClass : 'flexbox__item output-table-spline-values', 
            tdList : [ 
              [{text : 'Max'}, {className : 'output-table-spline-values__max'}], 
              [{text : 'Min'}, {className : 'output-table-spline-values__min'}], 
              [{text : 'Avg'}, {className : 'output-table-spline-values__avg'}],
            ]
          }) %>
        </div>  
      </div>
    </div> 
  </main>
  
  <%= _.template(require('./../components/footer.html').default)(data) %>