<%= _.template(require('./../components/header.html').default)({
    title: 'MTZABD Lab1',
    page: 'comparison'
  }) %>
  
  <main class="page">
    <div class="page__container">
      <!-- Head -->
      <div class="page__head">
        <h1>Лабораторная работа #1</h1>
        <h3>Сравнение функций</h3>
      </div> 
  
      <!-- Body -->
      <div class="page__body">
        <!-- Canvas --> 
        <canvas></canvas>

        <% 
          let methods = [
            { name : 'Лагранж', code : 'lagrange' },
            { name : 'Ньютон', code : 'newton' },
            { name : 'Сплайн', code : 'spline' }
          ]
        %> 

        <div class="flexbox flexbox__margin"> 
          <!-- Quantity of points -->
          <div class="flexbox__half js-dots">
            <div class="flexbox__row">
              <input class="js-dots__quantity" type="number" min="1" step="1" value="4" />
              <p>Количество точек для проверки</p>
            </div>
            <div class="flexbox__row">
              <input class="js-dots__step" type="number" min="0.1" step="0.1" value="1" />
              <p>Шаг</p>
            </div>
            <p>Количество точек должно быть двух.<br /> При выставленном шаге они не должны выходить за пределы графика (10).<br /> Минимальный шаг - 0,1.</p> 
            <label class="flexbox__row">
              <input class="js-dots__further" type="checkbox" checked /> 
              <p>Прогнозирование</p>
            </label>
            <input class="blue-btn go" type="submit" value="" /> 
          </div>

          <!-- Allowed Methods -->
          <div class="flexbox__half checkboxs js-checkboxs-methods">
            <% methods.forEach(method => { %>
              <label class="js-checkboxs-methods-<%- method.code %>">
                <input type="checkbox" checked />
                <p><%- method.name %></p>
              </label>
            <% }) %> 
          </div>
        </div> 
        
        <!-- Tables of Methods -->
        <div class="flexbox">
          <!-- Lagrange -->
          <% methods.forEach((method) => { %>
            <div class="flexbox__group js-group-<%- method.code %>">
              <%= _.template(require('./../components/output-table.html').default)({ 
                wrapperClass : 'table-wrap-limiting flexbox__item', 
                tableName : method.name,  
                tableClass : `output-table-${method.code}`,
                th : ['x', 'f(x)', '∆'] 
              }) %>
                
              <%= _.template(require('./../components/output-table.html').default)({   
                tableClass : `flexbox__item output-table-${method.code}-values`, 
                tableName : '∆',
                tdList : [ 
                  [{text : 'Max'}, {className : `output-table-${method.code}-values__max`}], 
                  [{text : 'Min'}, {className : `output-table-${method.code}-values__min`}], 
                  [{text : 'Avg'}, {className : `output-table-${method.code}-values__avg`}],
                ]
              }) %> 
            </div>
          <% }) %> 
        </div>  
      </div>
    </div> 
  </main>
  
  <%= _.template(require('./../components/footer.html').default)(data) %>