<%= _.template(require('./../components/header.html').default)({
    title: 'MTZABD Lab1',
    page: 'comparison'
  }) %>
  
  <main class="page">
    <div class="page__container">
      <!-- Head -->
      <div class="page__head">
        <h1>Лабораторная работа #1</h1>
        <h3>Сравнение функций</h3>
      </div> 
  
      <!-- Body -->
      <div class="page__body">
        <!-- Canvas -->
        <h2>Main Part</h2>
        <canvas></canvas>

        <% let methods = [{name : 'Лагранж', code : 'lagrange'},
          {name : 'Ньютон', code : 'newton'},
          {name : 'Сплайн', code : 'spline'}]
        %>

        <!-- Allowed Methods -->
        <div class="checkboxs js-checkboxs-methods">
          <% methods.forEach(method => { %>
            <label class="js-checkboxs-methods-<%- method.code %>">
              <input type="checkbox" checked />
              <%- method.name %>
            </label>
          <% }) %> 
        </div>

        <!-- Tables of Methods -->
        <div class="flexbox">
          <!-- Lagrange -->
          <% methods.forEach((method) => { %>
            <div class="flexbox__group js-group-<%- method.code %>">
              <%= _.template(require('./../components/output-table.html').default)({ 
                wrapperClass : 'table-wrap-limiting flexbox__item', 
                tableName : method.name,  
                tableClass : `output-table-${method.code}`,
                th : ['x', 'f(x)', '∆'] 
              }) %>
                
              <%= _.template(require('./../components/output-table.html').default)({   
                tableClass : `flexbox__item output-table-${method.code}-values`, 
                tableName : 'Values',
                tdList : [ 
                  [{text : 'Max'}, {className : `output-table-${method.code}-values__max`}], 
                  [{text : 'Min'}, {className : `output-table-${method.code}-values__min`}], 
                  [{text : 'Avg'}, {className : `output-table-${method.code}-values__avg`}],
                ]
              }) %> 
            </div>
          <% }) %> 
        </div>  
      </div>
    </div> 
  </main>
  
  <%= _.template(require('./../components/footer.html').default)(data) %>