<% var data = {
  title: 'MTZABD Home', 
  page: 'home'
}; %>
<%= _.template(require('./../components/header.html').default)(data) %>

<main class="page">
  <div class="page__container">
    <div class="page__head">
      <h1>Home</h1>
    </div> 
    <div class="page__body">
      Выполнил - Студент: Хмель Александр Сергеевич Группа: ИТКНу-17-2<br>
      Использовал: <br>
      Сборщик - Webpack<br>
      Язык программирования - Vanilla JS >ES6<br>
      Компиляторы - Babel<br>
      Препроцессор CSS - SCSS<br>
      помогал морально - Коваль
    </div>
  </div> 
</main>

<%= _.template(require('./../components/footer.html').default)(data) %>