<% var data = {
  title: "MTZABD Home", 
}; %>
<%= _.template(require('./../components/header.html').default)(data) %>

<main class="page">
  <div class="page__container">
    <div class="page__head">
      <h1>Lab1</h1>
    </div> 
    <div class="page__body">
      <h2>Main Part</h2>
      <canvas id="lab1Canvas"></canvas>
      <p>Some Text, сверху типо будет график где будет рисоваться говно</p>
    </div>
  </div> 
</main>

<%= _.template(require('./../components/footer.html').default)(data) %>