<%= _.template(require('./../components/header.html').default)({
  title: 'MTZABD Lab1',
  page: 'lab1'
}) %>

<main class="page">
  <div class="page__container">
    <!-- Head -->
    <div class="page__head">
      <h1>Лабораторная работа #1</h1>
      <h3>Апроксимация функций. Интерполяция</h3>
    </div> 

    <!-- Body -->
    <div class="page__body">
      <!-- Canvas -->
      <h2>Main Part</h2>
      <canvas></canvas>
      
      <!-- Input data -->
      <h4>Входные данные</h4>  
      <%= _.template(require('./../components/input-arr.html').default)(
        { values : [[0, 1], [2,3], [3,2], [5,5]] }) %> 

      <h4>Управление графиком</h4>
      <%= _.template(require('./../components/canvas-setup.html').default)() %> 

    </div>
  </div> 
</main>

<%= _.template(require('./../components/footer.html').default)(data) %>