<% var data = {
  title: "MTZABD Lab1", 
}; %>
<%= _.template(require('./../components/header.html').default)(data) %>

<main class="page">
  <div class="page__container">
    <div class="page__head">
      <h1>Лабораторная работа #1</h1>
      <h3>Апроксимация функций. Интерполяция</h3>
    </div> 
    <div class="page__body">
      <h2>Main Part</h2>
      <canvas></canvas>

      <h4>Управление графиком</h4>

      <div class="controls"> 
        <table class="table">
          <thead>
            <tr>
              <th>Параметр</th>
              <th>Значение</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ширина</td>
              <td><input type="number" value="5000"/></td>
            </tr>
            <tr>
              <td>Высота</td>
              <td><input type="number" value="5000"/></td>
            </tr>
          </tbody>
        </table> 

        <table class="table">
          <thead>
            <tr>
              <th>Параметр</th>
              <th>Значение</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Увеличение по Х</td>
              <td><input type="number" value="750"/></td>
            </tr>
            <tr>
              <td>Увеличение по Y</td>
              <td><input type="number" value="750"/></td>
            </tr>
          </tbody> 
        </table>

        <table class="table">
          <thead>
            <tr>
              <th>Параметр</th>
              <th>Значение</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Шаг:
              </td>
              <td><input type="number" value="0.1" step="0.1" /></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h4>Входные данные</h4>
      
      <div class="controls">
        <input class="btn-rem-col" type="submit" value="-" />
        <input class="btn-add-col" type="submit" value="+" />
      </div>

      <div class="controls">
        <table class="table" id="inputData">
          <thead>
            <tr>
              <th>Переменная</th>
              <th>a[1]</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>X</td>
              <td><input type="number" value="1"/></td>
            </tr>
            <tr>
              <td>Y</td>
              <td><input type="number" value="1"/></td>
            </tr>
          </tbody>
        </table>
      </div>
       
    </div>
  </div> 
</main>

<%= _.template(require('./../components/footer.html').default)(data) %>