<%= _.template(require('./../components/header.html').default)({
    title: 'MTZABD Lab1',
    page: 'spline'
  }) %>
  
  <main class="page">
    <div class="page__container">
      <!-- Head -->
      <div class="page__head">
        <h1>Лабораторная работа #1</h1>
        <h3>Апроксимация функций. Сплайн-интерполяция, кубический</h3>
      </div> 
  
      <!-- Body -->
      <div class="page__body">
        <!-- Canvas -->
        <h2>Main Part</h2>
        <canvas></canvas>

        <!-- Input data -->
        <h4>Входные данные</h4>  
        <%= _.template(require('./../components/input-arr.html').default)(
          { values : [[1, 0], [2, 0.69314718055995], [3, 1.0986122886681], [4, 1.3862943611199], [5, 1.6094379124341] , [6, 1.7917594692281]] }) %> 

        <p>
          х должен быть задан с определенным периодом
        </p>
        
      </div>
    </div> 
  </main>
  
<%= _.template(require('./../components/footer.html').default)(data) %>