$dark: #1e1e1e;
$gray: #f2f2f2;
$white: #ffffff;
$teal: #00a0a0;

$lightTeal: #a0c8c8;
$darkTeal: #000D0D;

$time: 0.5s;

$plus: url('../../img/plus.svg');
$minus: url('../../img/minus.svg');
$play: url('../../img/play.svg');